footer {
  background-color: var(--backgound-color);
  padding: 20px 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer-nav {
  display: flex;
  gap: 20px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #ccc;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ccc;
}

.brand h2 {
  font-size: 24px;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-green);
}

.footer-nav {
  display: flex;
  gap: 20px;
}

.footer-nav a {
  color: var(--dark-green);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #ccc;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: var(--dark-green);
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ccc;
}

.brand h2 {
  font-size: 24px;
  margin: 0;
  color: var(--dark-green);
}

.brand h2 span {
  color: var(--dark-pink);
}
