.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../assets/home-image.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: var(--dark-green);
}

.home .content span {
  font-size: 3rem;
  color: var(--dark-pink);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: var(--light-green);
  padding: 1rem 0;
  line-height: 1.5;
}
