@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .home {
    background-position: left;
  }
}

@media (max-width: 768px) {
  header .bar-icon {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--backgound-color);
    border-top: 0.1rem solid rgb(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: var(--backgound-color);
    display: block;
  }

  .home .content h3 {
    font-size: 5rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }

  .icons-container h3 {
    color: var(--dark-green);
    padding-bottom: 0.5rem;
    font-size: 2rem;
  }

  .icons-container span {
    color: var(--light-green);
    font-size: 1.7rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-nav {
    margin: 20px 0;
  }

  .social-icons {
    justify-content: center;
    margin-top: 15px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
